main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(131, 178, 236);
  height: 100vh;
}

article {
  width: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: blue;
  word-spacing: 2px;
}

section {
  text-align: center;
  max-width: 425px;
  width: 100%;
  height: 60vh;
  background-color: #abc;
  box-shadow: 10px 10px 25px grey;
  margin: 10px auto;
}

@media only screen and (max-width: 428px) {
  .wrapper {
    width: 95%;
  }

  h1 {
    font-size: 1.2rem;
  }
}
